html(lang="en")
	head 
		title Project
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		link(rel="stylesheet", href="/css/main.css")
	body 
		h1 About 
		h2 Student Project Organisation Management System 
		p &copy; Daniel Gee and Jack Demonakis