doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 Marks
			table 
				tr 
					th Pathway 
					th Student 
					th Deliverable 
					th 1st Mark 
					th 2nd Mark
					th Agreed Mark 
					th Agreed Out of Bounds 
					th Span Too High
				