doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 #{deliverable.name}
			p Description should go here
			
			h3 Cohort pathways which use this deliverable
			each membership in deliverablesMemberships
				p
					a(href="/pathways/"+membership.pathwayId) #{membership.pathwayName}
					|  on 
					a(href="/cohorts/"+membership.cohortId) #{membership.cohortName}