html(lang="en")
	head 
		title Project
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		link(rel="stylesheet", href="/css/main.css")
	body 
		.container.white.p1.m1-top.bordered
			h1 Login 
			form.login_input_flexbox(method="post")
				input.login_input.m1-top(type="email", name="email")
				input.login_input.m1-top(type="password", name="password")
				input.login_submit.m1-top(type="submit")
