doctype html
html(lang="en")
	head 
		include includes/head.pug
	body
		include includes/header.pug
		main
			h1 Login 
			form.input_flexbox(method="post")
				input.login_input.m1-top(type="email", name="email")
				input.login_input.m1-top(type="password", name="password")
				input.login_submit.m1-top(type="submit")

