doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main.fullwidth
			.split
				div
					p Cool marking stuff goes here
				div
					iframe(src="/uploads/pdf.pdf", frameborder="0") 
