doctype html
html
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 #{markscheme.name}
			table.m1-top
				thead
					tr
						th Name
						th Weight
				tbody
					- for(let i = 0; i < markscheme.parts.length; i++) {
					tr
						td #{markscheme.parts[i].name}
						td #{markscheme.parts[i].weight}
					- }
					- if(markscheme.parts.length == 0) {
					tr
						td(colspan="2") No parts in this markscheme
					- }
