doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main.fullwidth
			.split
				div
					h2 Marking

					p #{markscheme.name}

					table.equal
						thead
							tr
								th Name
								th Mark
						tbody
							each part in markschemeParts
								tr
									td #{part.name}
									td.inline
										p 
											input(type="text", name="")
											| /#{part.weight}
							if markschemeParts.length == 0
								tr
									td(colspan="2") No parts in this markscheme

					input.m1-top(type="submit", value="Submit Marking")

				div
					iframe(src="/uploads/pdf.pdf", frameborder="0")
