html(lang="en")
	head 
		title Project
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="shortcut icon", href="/uea.png", type="image/png")
		script(src="/js/newProjectProposal.js") 
	body
		include includes/header.pug
		.container.white.p1.m1-top.bordered
			h1 New Project Proposal
		.container.white.p1.m1-top.bordered
			form.input_flexbox(method="post", enctype="multipart/form-data")
				input.title_input.m1-top(type="text", name="title", placeholder="Title")
				textarea.description_input.m1-top(name="description", placeholder="Description", rows="20")
				input.login_input.m1-top(type="file", name="media", id="media", multiple, accept=".jpg,.jpeg,.mp4,.mov,.avi,.png,.tiff", onchange="checkMedia()")
				.alert.container.blue.p1.m1-top.bordered(id="mediaAlert") 
					img.alert_icon(src="/media/exclamation.png")
					h3 You haven't added any media
				input.login_submit.m1-top(type="submit")
