doctype html
html(lang="en")
	head
		include includes/head.pug
	body 
		include includes/header.pug
		.container.white.bordered.p1.m1-top
			h2 Hello, #{user.nickname}
			p Things you can do:

			h3 Admin Things
			a(href="/pathways") View pathways
			a(href="/pathways/new") Create a pathway
			a(href="/projectproposals") View project proposals
			a(href="#") Approve project proposals
			a(href="/cohorts") View cohorts
			a(href="/cohorts/new") Create a cohort
			a(href="/markschemes") View Markschemes

			h3 Student Things
			a(href="/projectproposals") Select a project

			h3 Supervisor Things
			a(href="/projectproposals/new") Create a project proposal 

			h3 Hubstaff Things
