doctype html
html(lang="en")
	head
		include includes/head.pug
		script(src="/js/pathway.js") 
	body
		include includes/header.pug
		.container.m1-top.p1
			h2 #{pathway.name}
			p See what projects are in this pathway
			p See what students are in this pathway
			p See what moderators moderate this pathway
