doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 Create a deliverable
			
			form(method="POST")
				label(for="name") Name 
				input(type="text", name="name")
				label(for="weighting") Weighting
				input(type="number", name="weighting")
				input(type="submit", value="Create")
