doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 #{projectProposal.title}
			p #{projectProposal.description}

			//- TODO: need to add data from the other tables, and add an edit button