doctype html
html(lang="en")
	head
		include includes/head.pug
		script(src="/js/projectproposal.js") 
	body
		include includes/header.pug
		main
			h2 #{projectProposal.title}
			p #{projectProposal.description}

			div
				if !projectProposal.approved
					button#approve-button(data-project-proposal-id = projectProposal.id) Approve Project