doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 Make Submission

			p Project - #{project.projectProposalTitle}
			p Deliverable - #{deliverable.name}

			form(method="post", enctype="multipart/form-data")
				input(type="file", multiple, name="files")
				input(type="submit", value="Upload")
			