doctype html
html(lang="en")
	head
		include includes/head.pug
		//- script
		//- 	const data = !{jsStringify(project.githubLink)}
		script(src="/js/studentOverview.js")
	body 
		include includes/header.pug
		.container.white.bordered.p1.m1-top.flex.flex-row.flex_centre.flex_space
			h1 Hello, #{user.nickname}
		.container.white.bordered.p1.m1-top.flex.flex-col.flex_space
			h2.flex-1.flex-col-centre Your next deadline is:
			h1.flex-1.flex-col-centre xx/xx/xxxx - DELIVERABLE NAME 
		.container.white.bordered.p1.m1-top.flex.flex-row.flex_centre.flex_space
			table.m1-top 
				thead 
					tr 
						th Submissions 
				tbody 
					tr 
						td No submissions yet.
			form.input_flexbox(method="post", enctype="multipart/form-data")
				input.login-input.m1-top(type="file", name="submission", id="submission", multiple, accept=".pdf,.zip,.7z")
				input.login_submit.m1-top(type="submit")
		.container.white.bordered.p1.m1-top.flex.flex-row.flex_centre.flex_space
			button.square_quarter_button email supervisor
			button.square_quarter_button project info
			button.square_quarter_button(onclick="github(\"" + project.githubLink + "\")") github
			button.square_quarter_button overleaf
		.container.white.bordered.p1.m1-top(id="githubform", name="githubform", style="display: none;")
			form.input_flexbox(method="post", enctype="multipart/form-data")
				input.m1-top(type="text", name="githubLink", Placeholder="https://github.com/")
				input.login_submit.m1-top(type="submit")

