doctype html
html(lang="en")
	head
		include includes/head.pug
	body 
		include includes/header.pug
		main
			h1.m1-bottom Pathways
			.pathways
				- for(let i = 0; i < pathways.length; i++)
					a.pathway(href="/projects/"+pathways[i].id)
						h2 #{pathways[i].name}
				- if(pathways.length == 0)
					p No pathways exist yet!