doctype html
html(lang="en")
	head
		include includes/head.pug
	body
		include includes/header.pug
		main
			h2 #{user.name}
			div
				if user.isStudent
					h3 Cohorts
					each cohort in cohorts
						a(href="/cohorts/"+cohort.id) #{cohort.name}
				h3 Projects
				div
					p Projects will go here
